include LICENSE
include README.md
recursive-include antismash *.hmm *.pfam *.h3* *.json *.txt *.tsv *.csv *.faa *.dmnd *.tpl *.html *.css *.js *.png *.svg *.afa *.pep *.xls RAxML_*
recursive-include src/antismash *.hmm *.pfam *.h3* *.json *.txt *.tsv *.csv *.faa *.dmnd *.tpl *.html *.css *.js *.png *.svg *.afa *.pep *.xls RAxML_*